body {
  background: url('../assets/admin.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  animation: showPage 0.6s linear forwards;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  font-weight: 100;
}

form {
  position: relative;
  text-align: start;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: larger;
  color: white;
}

form > input {
  font-size: larger;
}

@keyframes openDoors {
  from {
    width: 50vw;
  }
  to {
    width: 0;
  }
}

@keyframes removeOverlay {
  from {
    z-index: 10;
  }
  to {
    z-index: -1;
  }
}

.animationOverlay {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: removeOverlay 1s linear forwards;
}

.animationBoxOne {
  width: 50vw;
  height: 100vh;
  background-color: black;
  animation: openDoors 1s linear forwards;
}

.animationBoxTwo {
  width: 50vw;
  height: 100vh;
  background-color: black;
  animation: openDoors 1s linear forwards;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: fit-content;
}

.button-link {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: medium;
  flex-grow: 1;
  margin: 0;
  border: 0;
  display: inline-block;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.8);
  color: white;
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.button-link:hover {
  background: gray;
  transform: scale(1.05);
}

.delete {
  background: rgb(255, 0, 0, 0.8);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.delete:hover,
.delete:focus {
  background: rgb(255, 0, 0);
  cursor: pointer;
}